fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib
argon2-cffi
cryptography
python-dotenv
pytest
pytest-dotenv
pytest-asyncio
httpx
Faker
PyMongo
motor
mongomock
mongomock-motor
python-multipart
